.codeText{
    /* resize: none; */
    height: 54px;
    overflow: hidden;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.addNewbtn{
    position: fixed;
    bottom: 100px;
    right: 82px;
}