

   <!-- <div style="display: flex;justify-content: center">
     <textarea id="codeTextArea"
    class="codeText shadow p-3 bg-body rounded" cols="90" [(ngModel)] = "newCode" 
    placeholder="Write code here....."
     (blur)="saveNewCode($event)" (input)="autoScroll($event) " rows="{{rows}}"></textarea>
   </div> -->
  <div class="cards">
      <ng-container  *ngFor="let snip of codes; index as i" >
       <app-coding-snip
        (deleteSnipEvent) ="onDeleteSnip($event)" 
        (updateSnip) = "onUpdateSnip($event)"
         [snip] = "snip" [index] = "i"></app-coding-snip>
      </ng-container>
      <div class="addNewbtn">
        <button mat-fab color="primary"
        matTooltipPosition="above" matTooltip="add new snip"
        (click)="openDialog()"
        aria-label="add new Code">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
  </div>  



