.codeText{
    /* resize: none; */
    height: 54px;
    overflow: hidden;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.floatingActionBar{
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 82px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.floatingActionBar button{
    margin-bottom: 12px;
}

mat-spinner{
    position: absolute;
    left: 44%;
    top: 40%;
    display: none;
}