
  <div class="cards">
      <ng-container  *ngFor="let snip of codes | async; index as i " >
       <app-coding-snip
        (deleteSnipEvent) ="onDeleteSnip(snip)" 
        (updateSnip) = "onUpdateSnip(snip,$event)"
         [snip] = "snip" [index] = "i"></app-coding-snip>
      </ng-container>
      <div class="floatingActionBar">
        <button mat-fab color="primary"
        matTooltipPosition="left" matTooltip="add new snip"
        (click)="openDialog()"
        aria-label="add new Code">
          <mat-icon>{{addNewIcon}}</mat-icon>
        </button>
        <button mat-fab color="primary"
        (click)="undo()"
        matTooltipPosition="left" matTooltip="undo"
        aria-label="undo">
        <mat-icon  matBadge="{{(codeStack.length!=0)?codeStack.length:''}}" matBadgeColor="warn" >undo</mat-icon>
        </button>
      </div>
  </div>  

  <mat-spinner></mat-spinner>




