<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <div class="tools">
        <div>
            <a class="nav-link" routerLink="/codes">Code-snips</a>
        </div>
        <div>
            <a class="nav-link" routerLink="/login">Login</a>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <h4 class="name">Subrahmanyam</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>
        <ng-container *ngFor="let tag of tags">
            <app-side-nav-bar [tag]="tag"></app-side-nav-bar>
        </ng-container>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>