<div class="card" (mouseover)="active= true" (mouseleave)="active= false">
  <pre><code [highlight]="snip.code"
    (blur)="fnupdateSnip($event)"
    contentEditable = "true"
    [languages]="['typescript']" [lineNumbers]="true"></code></pre>
    
  <div class="action-buttons" *ngIf="active">
    <mat-divider></mat-divider>
    <button class="copyBtn" mat-button
        matTooltipPosition="right"
        matTooltip="copy to clipboard" 
        (click)="copySnip()" title="copy">
        <mat-icon>content_copy</mat-icon>
    </button>
    <button class="deleteBtn" title="delete" mat-button
        matTooltipPosition="right" matTooltip="delete" 
        (click)="deleteSnip($event)">
        <mat-icon>delete</mat-icon>
    </button>
    <button title="pin" mat-button (click)="toggleTags = !toggleTags"
     matTooltipPosition="right" matTooltip="add tag">
      <mat-icon>local_offer</mat-icon>
    </button>
  </div>
  <div class="title">
    <div contentEditable = "true" (blur)="saveTitle($event)">{{snip.title}}</div>
  </div>
  <app-tags *ngIf="toggleTags" [tags]="snip.tags" [id]="snip.id"></app-tags>
</div>